{% extends 'CAIDABGPStreamWebHomepageBundle:Default:docs/base.html.twig' %}

{% block slimbody %}
<div class="page-header">
    <h1>Installing libBGPStream</h1>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#generic"
                                              aria-controls="generic"
                                              role="tab" data-toggle="tab">Generic
            Unix</a></li>
    <li role="presentation"><a href="#freebsd" aria-controls="freebsd"
                               role="tab" data-toggle="tab">FreeBSD</a></li>
    <li role="presentation"><a href="#ubuntu" aria-controls="ubuntu"
                               role="tab"
                               data-toggle="tab">Ubuntu/Debian</a></li>
    <li role="presentation"><a href="#centos" aria-controls="centos"
                               role="tab"
                               data-toggle="tab">CentOS</a></li>
    <li role="presentation"><a href="#arch" aria-controls="arch"
                               role="tab"
                               data-toggle="tab">Arch Linux</a></li>
    <li role="presentation"><a href="#osx" aria-controls="osx" role="tab"
                               data-toggle="tab">macOS (Mac OSX)</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="generic">
        <h2>1. Install Dependencies</h2>
        <h3>Required Libraries</h3>

        <p>First, install the following dependencies of <a
                    href="http://research.wand.net.nz/software/libwandio.php">wandio</a> using your favorite package manager (see the OS-specific instructions for more details):</p>

        <ul>
            <li><a href="http://www.bzip.org/" target="_blank">libbz2</a></li>
            <li><a href="http://www.zlib.net/" target="_blank">zlib</a></li>
            <li><a href="http://curl.haxx.se/libcurl/" target="_blank">libcurl</a> (&gt; 7.18.0)</li>
        </ul>

        <p>Then, install wandio as follows:</p>

        <pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://research.wand.net.nz/software/wandio/wandio-4.2.0.tar.gz
$ tar zxf wandio-4.2.0.tar.gz
$ cd wandio-4.2.0/
$ ./configure
$ make
# make install</code></pre>

        <p><strong>Note:</strong> download timeout failures could happen if using earlier versions of wandio  (&lt;1.0.5)</p>

        <p><strong>Note:</strong> Ensure that the last lines from <code>configure</code>
            show a <em>Yes</em> result for at least <i>zlib</i>, <i>bz2</i>, and <i>libcurl</i>
            like the following:</p>

<pre><code>configure: WANDIO version 4.2.0
configure: Compiled with compressed file (zlib) support: Yes
configure: Compiled with compressed file (bz2) support: Yes
configure: Compiled with compressed file (lzo write only) support: No
configure: Compiled with compressed file (lzma) support: No
configure: Compiled with http read (libcurl) support: Yes</code></pre>

        <p>
            Note: If you do not want to install system-wide, then you can
            specify an installation directory (<code>/INSTALL/PATH</code>) as follows:
        </p>
        <pre><code>$ ./configure --prefix=/INSTALL/PATH</code></pre>
        <p>
            Then, depending on your OS, you may need to set <code>LD_LIBRRAY_PATH</code> as follows:
        </p>
        <pre><code>$ export LD_LIBRARY_PATH="/INSTALL/PATH/lib:$LD_LIBRARY_PATH"</code></pre>

        <p>If required libraries are not in the system library paths,
            specify their paths when running <code>configure</code> as
            follows:</p>

        <pre><code>$ ./configure CPPFLAGS='-I/path/to/deps/include' LDFLAGS='-L/path/to/deps/lib'</code></pre>

        <p>
            You may test that wandio works by running
            <code>$ wandiocat http://google.com</code>
        </p>

        <h3>Optional Libraries</h3>

        <ul>
            <li><a href="https://www.sqlite.org/">sqlite3</a>, required for
                the SQLite data interface. Add <code>--with-sqlite</code> option during configure to enable sqlite support.
            </li>
        </ul>

        <h2>2. Download and install BGPStream</h2>

<pre><code>$ cd ~/src/
$ curl -LO https://github.com/CAIDA/libbgpstream/releases/download/v2.0-rc4/libbgpstream-2.0.0-rc4.tar.gz
$ tar zxf libbgpstream-2.0.0-rc4.tar.gz
$ cd libbgpstream-2.0.0
$ ./configure
$ make
# make install
</code></pre>

        <p>See wandio instructions above for how to install BGPStream to a non-default location.</p>

        <h2>Troubleshooting</h2>
        <p>BGPStream is written in C and should compile with any ANSI
            compliant C Compiler
            which supports the C99 standard. We have tested BGPStream on
            FreeBSD, Linux and
            macOS using a variety of common compiler versions. Please open
            an issue on our
            <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
                page</a> with any problems you encounter.</p>
    </div>

    {# ---------- FREEBSD ---------- #}
    <div role="tabpanel" class="tab-pane" id="freebsd">
        <div style="opacity: 0.5">
        <h2>Installing from Ports
            <small>Coming Soon...</small>
        </h2>

        <p>BGPStream is available from FreeBSD ports at
            <code>net/bgpstream</code>:</p>

<pre><code>$ cd /usr/ports/net/bgpstream
$ sudo make install clean</code></pre>

        <p>(BGPStream is a fairly new port, you may need to run
            <code>portsnap fetch update</code> first.)</p>

        <p>Alternatively, if you are using the next-generation package
            manager (<code>pkg</code>), you can install BGPStream by
            running:</p>

        <pre><code>$ sudo pkg install bgpstream</code></pre>

        <p>The port will install all required dependencies (usually just
            <em>libcurl</em> and <em>libwandio</em>).</p>
        </div>

        <h2>Installing from source</h2>

        <h3>1. Install <em>wandio</em>:</h3>

        <pre><code>$ cd /usr/ports/devel/wandio
$ sudo make install clean</code></pre>

        <p><strong>Note:</strong> download timeout failures could happen if using earlier versions of wandio  (&lt;1.0.5)</p>

        {#
        <p><em>or</em></p>

        <pre><code>$ sudo pkg install wandio</code></pre>
        #}

        {#
        <h3>1. Install <em>libcurl</em>:</h3>

        <pre><code>$ cd /usr/ports/ftp/curl
$ sudo make install clean</code></pre>

        <p><em>or</em></p>

        <pre><code>$ sudo pkg install curl</code></pre>

        <h3>2. Download and install
            <a href="http://research.wand.net.nz/software/libwandio.php">wandio</a>:
        </h3>

        <p>Please open an issue on our
        <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
            page</a> with any problems you encounter.</p>

<pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://research.wand.net.nz/software/wandio/wandio-4.2.0.tar.gz
$ tar zxf wandio-4.2.0.tar.gz
$ cd wandio-4.2.0/
$ ./configure
$ make
$ sudo make install</code></pre>

        <p>
            You may test that wandio works by running
            <code>$ wandiocat http://google.com</code>
        </p>

        <p>See the generic install instructions for details on how to install
            into a non-default location.</p>
            #}

        <h3>2. Download and install BGPStream:</h3>

<pre><code>$ cd ~/src/
$ curl -LO https://github.com/CAIDA/libbgpstream/releases/download/v2.0-rc4/libbgpstream-2.0.0-rc4.tar.gz
$ tar zxf libbgpstream-2.0.0-rc4.tar.gz
$ cd libbgpstream-2.0.0/
$ ./configure
$ make
$ make check
$ sudo make install</code></pre>

        <p>Please open an issue on our
            <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
                page</a> with any problems you encounter.</p>

    </div>

    {# ---------- UBUNTU ---------- #}
    <div role="tabpanel" class="tab-pane" id="ubuntu">

        <h2>Installing using apt</h2>

        <h3>1. Setup apt repositories</h3>

        <p><strong>Step by step:</strong></p>

        Install dependencies
        <pre><code>sudo apt-get update
sudo apt-get install -y curl apt-transport-https ssl-cert ca-certificates gnupg lsb-release </code></pre>

        Install wandio repository
        <pre><code>echo "deb https://dl.bintray.com/wand/general $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/wand.list
curl --silent "https://bintray.com/user/downloadSubjectPublicKey?username=wand" | sudo apt-key add - </code></pre>

        Install CAIDA repository
        <pre><code>echo "deb https://pkg.caida.org/os/$(lsb_release -si|awk '{print tolower($0)}') $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/caida.list
sudo wget -O /etc/apt/trusted.gpg.d/caida.gpg https://pkg.caida.org/os/ubuntu/keyring.gpg </code></pre>

        <p><strong>One-liner:</strong>
        <pre><code>curl -s https://pkg.caida.org/os/$(lsb_release -si|awk '{print tolower($0)}')/bootstrap.sh | bash </code></pre>
        </p>

        <h3>2. Install BGPStream packages:</h3>
        <pre><code>sudo apt update; sudo apt-get install bgpstream</code></pre>

        <h2>Installing from source</h2>

        <h3>1. Install dependencies:</h3>

        <pre><code>$ sudo apt-get install zlib1g-dev libbz2-dev libcurl4-openssl-dev</code></pre>

        <h3>2. Download and install <a
                    href="http://research.wand.net.nz/software/libwandio.php">wandio</a>:
        </h3>

        <p><strong>Note:</strong> DO NOT install the <code>libwandio1</code>
            package. It is
            currently an out-of-date version of wandio.</p>

        <pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://research.wand.net.nz/software/wandio/wandio-4.2.0.tar.gz
$ tar zxf wandio-4.2.0.tar.gz
$ cd wandio-4.2.0/
$ ./configure
$ make
$ sudo make install
$ sudo ldconfig</code></pre>

        <p><strong>Note:</strong> download timeout failures could happen if using earlier versions of wandio  (&lt;1.0.5)</p>

        <p>See the generic install instructions for details on how to install
            into a non-default location.</p>

        <h3>3. Download and install BGPStream:</h3>

        <pre><code>$ cd ~/src/
$ curl -LO https://github.com/CAIDA/libbgpstream/releases/download/v2.0-rc4/libbgpstream-2.0.0-rc4.tar.gz
$ tar zxf libbgpstream-2.0.0-rc4.tar.gz
$ cd libbgpstream-2.0.0/
$ ./configure
$ make
$ make check
$ sudo make install
$ sudo ldconfig</code></pre>

        <p>Please open an issue on our
            <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
                page</a> with any problems you encounter.</p>

    </div>

    {# ---------- CENTOS ---------- #}
    <div role="tabpanel" class="tab-pane" id="centos">

        <h2>Installing from source</h2>

        <h3>1. Install dependencies:</h3>

        <pre><code>$ sudo yum install zlib-devel bzip2-devel libcurl-devel</code></pre>

        <h3>2. Download and install <a
                    href="http://research.wand.net.nz/software/libwandio.php">wandio</a>:
        </h3>

        <pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://research.wand.net.nz/software/wandio/wandio-4.2.0.tar.gz
$ tar zxf wandio-4.2.0.tar.gz
$ cd wandio-4.2.0/
$ ./configure
$ make
$ sudo make install
$ sudo ldconfig</code></pre>

        <p><strong>Note:</strong> download timeout failures could happen if using earlier versions of wandio  (&lt;1.0.5)</p>

        <p>See the generic install instructions for details on how to install
            into a non-default location.</p>

        <h3>3. Download and install BGPStream:</h3>

        <pre><code>$ cd ~/src/
$ curl -LO https://github.com/CAIDA/libbgpstream/releases/download/v2.0-rc4/libbgpstream-2.0.0-rc4.tar.gz
$ tar zxf libbgpstream-2.0.0-rc4.tar.gz
$ cd libbgpstream-2.0.0/
$ ./configure
$ make
$ make check
$ sudo make install
$ sudo ldconfig</code></pre>

        <p>If you get the following error:</p>
        <pre><code>checking for wandio HTTP support... configure: error: wandio HTTP support required (install libcurl before building wandio)</code></pre>
        <p>and <code>config.log</code> contains an error like:</p>
        <pre><code>wandiocat: error while loading shared libraries: libwandio.so.1: cannot open shared object file: No such directory</code></pre>
        <p>Then you may need to run</p>
        <pre><code>$ sudo sh -c 'echo /usr/local/lib > /etc/ld.so.conf.d/usrlocal.conf'
$ sudo ldconfig</code></pre>

        <p>Please open an issue on our
            <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
                page</a> with any problems you encounter.</p>

    </div>

    {# ---------- ARCH ---------- #}
    <div role="tabpanel" class="tab-pane" id="arch">
        <h2>Installing from the AUR</h2>

        <h3>1. Install <a
                    href="http://research.wand.net.nz/software/libwandio.php">wandio</a>:
        </h3>

        <pre><code>$ git clone https://aur.archlinux.org/libwandio.git
$ cd libwandio
$ makepkg -si</code></pre>

        <p><strong>Note:</strong> sudo is needed to run makepkg with the -i flag.</p>

        <p>See the generic install instructions for details on how to install
            into a non-default location.</p>

        <h3>2. Download and install BGPStream:</h3>

        <pre><code>$ git clone https://aur.archlinux.org/bgpstream.git
$ cd bgpstream
$ makepkg -si</code></pre>

        <p>Please submit a comment on the
            <a href="https://aur.archlinux.org/packages/bgpstream">AUR page</a>
              with any problems with building from the AUR.</p>

    </div>


    {# ---------- OSX ---------- #}
    <div role="tabpanel" class="tab-pane" id="osx">

        <div style="opacity: 0.5;">
        <h2>Installing from HomeBrew
            <small>Coming Soon...</small>
        </h2>

        <p>Install BGPStream by running:</p>

        <pre><code>$ brew install bgpstream</code></pre>
        </div>

        <h2>Installing from source</h2>

        <h3>1. Install <em>libcurl</em>:</h3>

        <p>Using MacPorts:</p>
        <pre><code>$ sudo port install curl</code></pre>

        <p>or, using Homebrew:</p>
        <pre><code>$ brew install curl</code></pre>

        <h3>2. Download and install
            <a href="http://research.wand.net.nz/software/libwandio.php">wandio</a>:
        </h3>

<pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://research.wand.net.nz/software/wandio/wandio-4.2.0.tar.gz
$ tar zxf wandio-4.2.0.tar.gz
$ cd wandio-4.2.0/
$ ./configure
$ make
$ sudo make install</code></pre>

        <p><strong>Note:</strong> download timeout failures could happen if using earlier versions of wandio  (&lt;1.0.5)</p>

        <p>See the generic install instructions for details on how to install
            into a non-default location.</p>

        <h3>3. Download and install BGPStream:</h3>

<pre><code>$ cd ~/src/
$ curl -LO https://github.com/CAIDA/libbgpstream/releases/download/v2.0-rc4/libbgpstream-2.0.0-rc4.tar.gz
$ tar zxf libbgpstream-2.0.0-rc4.tar.gz
$ cd libbgpstream-2.0.0/
$ ./configure
$ make
$ make check
$ sudo make install</code></pre>

        <p>If you get the following error:</p>
        <pre><code>checking for library containing wandio_create... no
configure: error: libwandio required (http://research.wand.net.nz/software/libwandio.php)</code></pre>
        <p>But you have already installed wandio, then you may need to run:</p>
        <pre><code>$ export C_INCLUDE_PATH="/usr/local/include:$C_INCLUDE_PATH"
$ export LIBRARY_PATH="/usr/local/lib:$LIBRARY_PATH"</code></pre>
        <p>and then re-run configure.</p>

        <p>Please open an issue on our
            <a href="https://github.com/caida/libbgpstream/issues" target="_blank">GitHub
                page</a> with any problems you encounter.</p>

    </div>
</div>
{% endblock %}
