{% extends 'CAIDABGPStreamWebHomepageBundle:Default:docs/base.html.twig' %}

{% block slimbody %}
    <div class="page-header">
        <h1>Installing PyBGPStream</h1>
    </div>

    <p>
        <b>Note:</b>
        <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'install', 'subpage': 'bgpstream'}) }}">
            libBGPStream
        </a>
        must be installed prior to installing PyBGPStream
    </p>

    <h2>Installing from PyPI</h2>

    <p>The simplest and recommended way to install PyBGPStream is from
        PyPI using <code>pip</code>:</p>

    <pre><code>$ pip install pybgpstream</code></pre>

    <p>That's it!</p>

    <h2>Installing from Debian/Ubuntu package repository:</h2>
    You will need to first follow the
    <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'install', 'subpage': 'bgpstream'}) }}">
        setup steps
    </a>
    on setting up BGPStream CAIDA repository on Debian/Ubuntu system.
    <br/>

    For Python 2:
    <pre><code>sudo apt-get install python-pybgpstream</code></pre>
    For Python 3:
    <pre><code>sudo apt-get install python3-pybgpstream</code></pre>


    <h2>Installing from source</h2>

    <p>If you prefer to install PyBGPStream from source, simply run the following commands:<p>

    <pre><code>$ mkdir ~/src
$ cd ~/src/
$ curl -LO https://github.com/CAIDA/pybgpstream/releases/download/v2.0/pybgpstream-2.0.2.tar.gz
$ tar zxf pybgpstream-2.0.2.tar.gz
$ cd pybgpstream-2.0.2
$ python setup.py build_ext
$ sudo python setup.py install</code></pre>

    <p>Use <code>python setup.py install --user</code> to install the
        library in your home directory.</p>

    <h2>Testing the installation</h2>

    <p>To check if pybgpstream is installed correctly run the tutorial
        print script:</p>

    <pre><code>$ curl https://raw.githubusercontent.com/CAIDA/pybgpstream/master/examples/tutorial_print.py | python
valid ris.rrc06 1427846570
    W 202.249.2.185 25152 W {'prefix': '144.104.37.0/24'}
valid ris.rrc06 1427846573
    A 2001:200:0:fe00::6249:0 25152 A {'next-hop': '2001:200:0:fe00::9c1:0', 'prefix': '2a00:bdc0:e004::/48', 'as-path': '25152 2497 6939 47541 28709'}
...</code></pre>

    <h2>Troubleshooting</h2>
    <p>The BGPStream C library <em>must</em> be
        installed prior to installing pybgpstream.
        If you see an error like the following during installation, then
        you may not
        have
        <a href="{{ path('caida_bgpstream_web_homepage_docs', {'page': 'install', 'subpage': 'bgpstream'}) }}">
            libBGPStream installed
        </a>.</p>

    <pre><code>In file included from src/_pybgpstream_module.c:27:
    src/_pybgpstream_bgprecord.h:29:10: fatal error: 'bgpstream.h' file not found</code></pre>

    <p>If you have installed libBGPStream to a non-standard location
        (e.g., <code>/path/to/libbgpstream</code>), then you will need
        to provide more information to
        pip as follows:</p>

    <pre><code>pip install \
    --global-option build_ext \
    --global-option '--include-dir=/path/to/libbgpstream/include' \
    --global-option '--library-dir=/path/to/libbgpstream/lib' \
    pybgpstream</code></pre>

    <p>or, if you are installing from source </p>

    <p>In this case you may also have to tell Python where to find
        libBGPStream at run time like so:</p>

    <pre><code>LD_LIBRARY_PATH=/path/to/libbgpstream/lib python my_bgpstream_app.py</code></pre>

{% endblock %}
