h2 > a,
h2 > a:hover,
h2 > a:active,
h2 > a:visited {
    color: #2c3e50;
}

.dp-logo {
    height: 60px;
}

.dp-logo + .dp-logo {
    padding-right: 20px;
}

.dp-tab-logo {
    height: 30px;
}

.vertical-center {
    vertical-align: middle !important;
}

table {
    display: none;
}
