.docs-nav {
    padding-top: 20px;
    font-size: 16px;
}

.docs-nav .nav-pills > li.active > a,
.docs-nav .nav-pills > li.active > a:hover,
.docs-nav .nav-pills > li.active > a:focus {
    color: #18bc9c;
    background-color: transparent;
    border-left: 2px solid #18bc9c;
    border-radius: 0;
}

.docs-nav .nav-pills .nav-pills {
    padding-left: 10px;
    font-size: 14px;
    display: none;
}

.docs-nav .nav-pills .nav-pills .nav-pills {
    padding-left: 15px;
    font-size: 13px;
    display: none;
}

.docs-nav .nav-pills > li.active > .nav-pills {
    display: block !important;
}

.docs-nav .nav-pills > li.active > .nav-pills > li.active > .nav-pills {
    display: block !important;
}

.docs-nav .nav-pills .nav-pills > li.active > a,
.docs-nav .nav-pills .nav-pills > li.active > a:hover,
.docs-nav .nav-pills .nav-pills > li.active > a:focus {
    border-left: 1px solid #18bc9c;
}

/*body {
    background-image: linear-gradient(to right, #F7F7F7, #F7F7F7 32.5%, white 32.5%);
}*/

.label-group {
    padding-bottom: 15px;
}

.label-row {
    padding-bottom: 5px;
}

.label {
    font-weight: 300;
    padding: .5em .6em .4em
}

.label > .glyphicon {
    padding-right: 5px;
}

.label.label-1 {
    background-color: #cab2d6;
}

.label.label-2 {
    background-color: #1f78b4;
}

.label.label-3 {
    background-color: #fb9a99;
}

.label.label-4 {
    background-color: #33a02c;
}

.label.label-5 {
    background-color: #fdbf6f;
}

.label.label-6 {
    background-color: #e31a1c;
}

.label.label-7 {
    background-color: #b2df8a;
}

.label.label-8 {
    background-color: #ff7f00;
}

.label.label-9 {
    background-color: #a6cee3;
}

.label.label-10 {
    background-color: #6a3d9a;
}
