{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Acknowledgements</h1>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <td>NSF</td>
            <td><a href="@@">asdghsadf</a></td>
        </tr>
        </tbody>
    </table>

    NSF
     - IODA
     - Hijacks
    DHS
    - SISTER
    SDSC
    UCSD

    <h2>Collaborators</h2>
    Collaborations
     - RIPE NCC
     - BGPmon
{% endblock %}
