{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block slimbody %}
    <div class="page-header">
        <h1>Broker HTTP API</h1>
    </div>

    <p>
        The BGPStream Broker is a web application that provides a unified query
        interface to retrieve meta-data about data available from different data
        providers. CAIDA operates a publicly accessible instance of the Broker
        that libBGPStream is configured to query by default.
    </p>

    <p>
        The Broker provides two types of queries: <b>data</b> and
        <b>metadata</b>. Metadata queries retrieve information about the
        <i>Data Providers</i> and <i>Collectors</i> that the broker knows about.
        Data queries on the other hand, retrieve information about data
        files known to the broker.
    </p>

    <table class="table">
        <tr>
            <td>Test</td>
        </tr>
    </table>

    <h2>Data API<small><code>/data</code></small></h2>
    <p>TODO</p>

    <h2>Metadata API<small><code>/meta</code></small></h2>
    <p>TODO</p>
{% endblock %}
