<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {%- if title is defined -%}
            {%- for element in title -%}
                {{ element|title }} &middot;
            {% endfor -%}
        {%- endif -%}
        BGPStream</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alistair King">

    {% block styleblock %}
        {% stylesheets
        'bundles/caidabgpstreamwebhomepage/libs/bootstrap/css/bootstrap-flatly.css'
        '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/base.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <script type="text/javascript">
        {% block head_js %}{% endblock %}
    </script>
</head>

<body>

{#
{% spaceless %}
    {{ knp_menu_render(
    'topNav',
    {'template': 'CAIDACharthouseFrontendBundle:Menu:topnav.html.twig',
        'app': app}
    ) }}
{% endspaceless %}
#}

{# NOTE: If you want to do something special with the content and override
    outer_body, then you should take note of the content-push and
    container-main styles. #}
{% block outer_body %}
    <div id="content-push" class="hidden-xs"></div>
    <div class="container-main container">
        {% block body %}{% endblock %}
    </div>
    {#<div id="footer-push"></div>#}
{% endblock %}
</body>
</html>
