{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Installing BGPStream</h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div id="section-1">
                <h2>Section One</h2>

                <p>Section One content. Donec id elit non mi porta gravida at
                    eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui.</p>
                <pre>
                    bgpstream_t *stream = bgpstream_create();
                </pre>
            </div>
            <div id="section-2">
                <h2>Section Two</h2>

                <p>Section Two content. Donec id elit non mi porta gravida at
                    eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Section Two content. Donec id elit non mi
                    porta gravida at
                    eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui.</p>
            </div>
            <div id="section-3">
                <h2>Section Three</h2>

                <p>Section Three content. Donec id elit non mi porta gravida at
                    eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui. Donec id elit non mi porta gravida at eget
                    metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus. Etiam porta sem malesuada magna mollis euismod. Donec
                    sed odio dui.</p>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="#section-1">Section One</a>
                </li>
                <li role="presentation"><a href="#section-2">Section Two</a>
                </li>
                <li role="presentation"><a href="#section-3">Section Three</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
