{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
    'bundles/caidabgpstreamwebhomepage/libs/prismjs/css/prism.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block jsblock %}
    {{ parent() }}
    <script type="text/javascript">
        require(['jquery'], function ($) {
            $(function () {
                //if ($('code[class*="language-"], [class*="language-"] code, code[class*="lang-"], [class*="lang-"] code').length) {
                require(['prism'], function (prism) {
                    prism.highlightAll();
                });
                //}
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="language-none"> {# force prism to run on all code blocks #}
        {% filter markdown %}
        {% include md_content_file %}
        {% endfilter %}
    </div>
{% endblock %}
