{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>
            BGPStream
        </h1>

        <p>Coming soon...</p>
    </div>
{% endblock %}
