{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
    '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/news.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block slimbody %}
    <div class="page-header">
        <h1>News</h1>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            New BMP-based Data Provider Added
            <small>January 28 2016</small>
        </h2>
        <p>
            We have added a new (experimental) Data Provider to BGPStream. The CAIDA OpenBMP provider
            is a collaboration with Route Views and Cisco to provide access to a
            low-latency (~1min) stream of BGP measurement data using the OpenBMP
            stack. This data is available for immediate use with existing BGPStream
            installations by using the <code>caida-bmp</code> provider
            (e.g., <code>bgpreader -p caida-bmp -w 1453912260</code>). See the <a
                    href="{{ path('caida_bgpstream_web_homepage', {'page': 'data'}) }}#!caida-bmp">Data Providers</a>
            page for more information about the current peers included.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.1.0 Released
            <small>January 28 2016</small>
        </h2>
        <p>
            This is the second public release of BGPStream. It contains several new features including native support for communities.
            For more information, see the <a
                    href="https://github.com/CAIDA/bgpstream/blob/master/ChangeLog.md">Change
                Log</a>. It is available from
            the
            <a href="{{ path('caida_bgpstream_web_homepage', {'page': 'download'}) }}">Downloads</a>
            page.
        </p>
    </div>
    <hr>
    <div class="news-item">
        <h2>
            BGPStream 1.0.0 Released
            <small>October 26 2015</small>
        </h2>
        <p>
            This is the first public release of BGPStream.
        </p>
    </div>
    <hr>
{% endblock %}
