{% extends 'CAIDABGPStreamWebHomepageBundle:Default:base.html.twig' %}

{% block styleblock %}
    {{ parent() }}
    {% stylesheets
    '@CAIDABGPStreamWebHomepageBundle/Resources/public/css/docs.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 docs-nav">
            <div class="row">
                <div class="col-md-10">
                    <div class="hidden-sm hidden-xs">
                        {% spaceless %}
                            {{ knp_menu_render(
                            'docsNav',
                            {'template': 'CAIDABGPStreamWebHomepageBundle:Menu:docsnav.html.twig',
                                'app': app, 'orientation': 'vertical'}
                            ) }}
                        {% endspaceless %}
                    </div>
                    <div class="visible-sm visible-xs">
                        {% spaceless %}
                            {{ knp_menu_render(
                            'docsNav',
                            {'template': 'CAIDABGPStreamWebHomepageBundle:Menu:docsnav.html.twig',
                                'app': app, 'orientation': 'horizontal'}
                            ) }}
                        {% endspaceless %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% block slimbody %}{% endblock %}
        </div>
    </div>
{% endblock %}
